div.about-contacts {
    margin: auto;
    width: 130px;
}
div.about-contacts a{
    color: #517397;
    font-weight: bold;
}

div.how {
    background: url('/images/how.png') center top no-repeat;
    width: 576px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}