#add-order-form {
    
}

#add-order-form input{
    width: 380px;
}

#add-order-form textarea{
    width: 380px;
}

#add-order-form label{
    width: auto; float: none;
    text-align: left;
    padding-right: 10px;
    padding-top: 6px;
    font-weight: normal;
}

#add-order-form span.required{
    display: none;
}

#add-order-form #submit-button{
    margin-left: 120px;
    width: 150px;
}

h2.add-order {
    margin-left: 210px;
}

.addorder-margin-top {
    margin-top: 8px !important;
}