
#mainmenu {
    margin-top: -30px;
}

div.user-info {
    margin-top: 5px;
}

.add-offer-form {
    padding: 10px 10px 10px 20px;
}

.add-offer-form textarea {
    width: 600px;
    height: 70px;
}

div.offer-box{
    width: 857px;
    margin-left: 20px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

div.offer-head {
    padding-top:3px;
    padding-left: 7px;
    padding-bottom: 3px;
    background-color: #BFCFFF;
    margin-bottom: 5px;
}

div.offer-date {
    float: right;
    margin-right: 10px;
    font-size: 10px;
}

div.offer-shop-user-name {
    width: 730px;
}

div.offer-text {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
}

div.comment-box{
    width: 830px;
    margin-left: 20px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

div.comment-head {
    padding-top:3px;
    padding-left: 7px;
    padding-bottom: 3px;
    background-color: #F5F7F8;
    margin-bottom: 5px;
}

div.comment-date {
    float: right;
    margin-right: 10px;
    font-size: 10px;
}

div.comment-user-name {
    width: 700px;
}

div.comment-text {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
}

h2 {
    text-align: center;
    margin: auto;
}